In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
cred = pd.read_csv("credit_activities.csv")
proj = pd.read_csv("project_info.csv")
#prev = pd.read_csv("../RawData.csv")

/var/folders/gn/x53b3rps7jz6jbl5j86y21gr0000gn/T/ipykernel_51263/1767492222.py:1: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  cred = pd.read_csv("credit_activities.csv")

In [3]:
#prev = prev[['Project ID', 'Scope', ' Type', 'Reduction / Removal']]
#prev.columns = ['Project ID', 'Scope', 'Type', 'Reduction/Removal']

In [4]:
proj.columns

Index(['project_id', 'project_name', 'voluntary_registry', 'arb_wa_project',
       'voluntary_status', 'scope', 'type', 'type_rule', 'type_ml',
       'confidence', 'reduction_removal', 'methodology', 'methodology_version',
       'region', 'country', 'state', 'project_site_location',
       'project_developer', 'project_owner', 'offset_project_operator',
       'authorized_project_designee', 'verifier',
       'estimated_annual_emission_reductions', 'arb_id', 'arb_project_type',
       'arb_project_status', 'wa_id', 'wa_project_type', 'poa_id',
       'project_listed', 'project_registered', 'sustainability_certification',
       'project_type_from_the_registry', 'registry_documents',
       'project_website', 'notes_from_registry', 'notes_from_bctp',
       'project_description', 'added_to_database_version'],
      dtype='object')

In [5]:
proj_names = ['Project ID', 'Project Name', 'Voluntary Registry', 'ARB/WA Project', 
              'Voluntary Status', 'Scope', 'Type', 'Type Rule', 'Type ML',
              'Confidence Level', 'Reduction/Removal', 'Methodology/Protocol', 'Methodology Version', 
              'Region', 'Country', 'State', 'Project Site Location',
              'Project Developer', 'Project Owner', 'Offset Project Operator', 
              'Authorized Project Designee', 'Verifier',
              'Estimated Annual Emission Reductions', 'ARB ID', 'ARB Project Type',
              'ARB Project Status', 'WA ID', 'WA Project Type', 'POA ID', 
              'Project Listed', 'Project Registered', 'Sustainability Certification',
              'Project Type From the Registry', 'Registry Documents',
              'Project Website', 'Notes From Registry', 'Notes from the Berkeley Carbon Trading Project', 
              'Project Description', 'Added to Database Version - With Data Through']

In [6]:
proj.columns = proj_names
proj1 = proj.iloc[:, :19]
proj2 = proj.drop(proj.columns[1:19], axis=1)

In [7]:
proj2.columns

Index(['Project ID', 'Offset Project Operator', 'Authorized Project Designee',
       'Verifier', 'Estimated Annual Emission Reductions', 'ARB ID',
       'ARB Project Type', 'ARB Project Status', 'WA ID', 'WA Project Type',
       'POA ID', 'Project Listed', 'Project Registered',
       'Sustainability Certification', 'Project Type From the Registry',
       'Registry Documents', 'Project Website', 'Notes From Registry',
       'Notes from the Berkeley Carbon Trading Project', 'Project Description',
       'Added to Database Version - With Data Through'],
      dtype='object')

In [8]:
cred[['vintage_year','issuance_date']] = cred[['vintage_year','issuance_date']].astype(str)
cred[['vintage_year','issuance_date','amount']] = cred[['vintage_year','issuance_date','amount']].fillna(0)
cred[['vintage_year','issuance_date']] = cred[['vintage_year','issuance_date']].replace('NaT', 0)
cred[['vintage_year','issuance_date']] = cred[['vintage_year','issuance_date']].replace('nan', 0)
cred[['vintage_year','issuance_date']] = cred[['vintage_year','issuance_date']].astype(str)
cred['vintage_year'] = cred['vintage_year'].str.replace('.0', '')
cred['temp1'] = cred['issuance_date'].str.contains('-')
cred['temp2'] = cred['issuance_date'].str.contains('/')
cred.loc[cred['temp1'], 'issuance_date'] = cred.loc[cred['temp1'], 'issuance_date'].str[:4]
cred.loc[cred['temp2'], 'issuance_date'] = cred.loc[cred['temp2'], 'issuance_date'].str.split('/').str[2].str[:4]

cred = cred.drop(columns=['temp1', 'temp2'])

In [9]:
cred.issuance_date.unique()

array(['2013', '2014', '2015', '2016', '2017', '2023', '2021', '2018',
       '2022', '2020', '2019', '2024', '2012', '2011', '2010', '2009',
       '2008', '2007', '2006', '2005', '2004', '2002', '0'], dtype=object)

In [10]:
cred.transaction_type.unique()

array(['issuance', 'buffer_contribution', 'retirement_cancellation',
       'buffer_subtraction', 'per'], dtype=object)

In [11]:
cred.sub_transaction_type.sort_values().unique()

array(['buffer_contribution',
       'buffer_pool_cancelled_during_transfer_to_arb',
       'buffer_pool_transfer_to_arb', 'buffer_release_to_issuance',
       'buffer_subtraction', 'cancellation',
       'cancelled_during_transfer_to_arb',
       'cancelled_for_intentional_reversal', 'issuance', 'per_issuance',
       'retired_for_arb_compliance', 'retired_for_quebec_compliance',
       'retired_voluntarily', 'retirement', 'transfer_to_arb',
       'transfer_to_wa', 'unintentional_reversal'], dtype=object)

In [12]:
cred.head()

,project_id,transaction_type,sub_transaction_type,amount,date,vintage_year,issuance_date,corsia_eligible,vintage_start,vintage_end
0,CAR992,issuance,issuance,107542.0,2013-10-22 00:00:00,2013,2013,NaN,NaN,NaN
1,ACR170,issuance,issuance,306517.0,2013-09-23 00:00:00,2012,2013,NaN,NaN,NaN
2,CAR973,issuance,issuance,1748472.0,2014-06-10 00:00:00,2013,2014,NaN,NaN,NaN
3,CAR973,issuance,issuance,119314.0,2015-09-08 00:00:00,2014,2015,NaN,NaN,NaN
4,CAR973,issuance,issuance,282627.0,2016-09-27 00:00:00,2015,2016,NaN,NaN,NaN

In [13]:
cred.issuance_date.value_counts()

issuance_date
2021    74325
2015    45378
2020    40853
2019    33841
2022    25206
2018    24977
2014    21363
2017    19454
2023    19452
2016    17876
2012    14246
2013    12628
0        9659
2011     8331
2009     6785
2010     5555
2024     1353
2008      606
2005      560
2007      510
2006       91
2004        3
2002        1
Name: count, dtype: int64

In [14]:
cred_group_issuanceDate = cred.groupby(['project_id', 'transaction_type', 'issuance_date']).amount.sum().reset_index()
cred_group_vintageDate = cred.groupby(['project_id', 'transaction_type', 'vintage_year']).amount.sum().reset_index()

In [15]:
cred_piv_iss = cred_group_issuanceDate.pivot(index=['project_id', 'issuance_date'], 
                      columns='transaction_type', values='amount').reset_index()
cred_piv_vin = cred_group_vintageDate.pivot(index=['project_id', 'vintage_year'], 
                      columns='transaction_type', values='amount').reset_index()

In [16]:
cred_piv_vin.head()

transaction_type,project_id,vintage_year,buffer_contribution,buffer_subtraction,issuance,per,retirement_cancellation
0,ACR102,2003,NaN,NaN,1898382.0,NaN,7666.0
1,ACR102,2004,NaN,NaN,3004613.0,NaN,NaN
2,ACR102,2005,NaN,NaN,3081011.0,NaN,10000.0
3,ACR103,2003,NaN,NaN,8072.0,NaN,2500.0
4,ACR103,2004,NaN,NaN,5848.0,NaN,32.0

In [17]:
cred_group_iss = cred_piv_iss.groupby(['project_id']).agg({'buffer_contribution':'sum', 
                                               'buffer_subtraction':'sum', 
                                               'issuance':'sum',
                                               'retirement_cancellation':'sum',
                                                          'per':'sum'}).reset_index()
cred_group_vin = cred_piv_vin.groupby(['project_id']).agg({'vintage_year':'min'}).reset_index()

In [18]:
cred_group_iss.columns = ['Project ID', 'Total Buffer Contributions by Issuance Year', 'Total Buffer Subtractions by Issuance Year',
                      'Total Credits Issued', 'Total Credits Retired', 'PERs']
cred_group_vin.columns = ['Project ID', 'First Year of Project']

In [19]:
cred_group_iss.head()

,Project ID,Total Buffer Contributions by Issuance Year,Total Buffer Subtractions by Issuance Year,Total Credits Issued,Total Credits Retired,PERs
0,ACR102,0.0,0.0,7984006.0,17666.0,0.0
1,ACR103,0.0,0.0,44202.0,28636.0,0.0
2,ACR105,1102376.0,1102376.0,2572210.0,2572210.0,0.0
3,ACR106,0.0,0.0,138492.0,109452.0,0.0
4,ACR107,0.0,0.0,1138.0,127.0,0.0

In [20]:
pivot_iss_iss = cred_piv_iss.pivot(index='project_id', columns='issuance_date', values='issuance').reset_index()
pivot_iss_iss = pivot_iss_iss.drop(columns=["0"])
pivot_iss_iss.columns = [pivot_iss_iss.columns[0]] + [f"{col} Credits Issued by Issuance Year" for col in pivot_iss_iss.columns[1:]]
pivot_iss_iss.columns.values[0] = "Project ID"
pivot_iss_iss.fillna(0, inplace=True)
pivot_vin_iss = cred_piv_vin.pivot(index='project_id', columns='vintage_year', values='issuance').reset_index()
pivot_vin_iss = pivot_vin_iss.drop(columns=["0"])
pivot_vin_iss.columns = [pivot_vin_iss.columns[0]] + [f"{col} Credits Issued by Vintage Year" for col in pivot_vin_iss.columns[1:]]
pivot_vin_iss.columns.values[0] = "Project ID"
pivot_vin_iss.fillna(0, inplace=True)

In [21]:
pivot_vin_iss.head()

,Project ID,1996 Credits Issued by Vintage Year,1997 Credits Issued by Vintage Year,1998 Credits Issued by Vintage Year,1999 Credits Issued by Vintage Year,2000 Credits Issued by Vintage Year,2001 Credits Issued by Vintage Year,2002 Credits Issued by Vintage Year,2003 Credits Issued by Vintage Year,2004 Credits Issued by Vintage Year,2005 Credits Issued by Vintage Year,2006 Credits Issued by Vintage Year,2007 Credits Issued by Vintage Year,2008 Credits Issued by Vintage Year,2009 Credits Issued by Vintage Year,2010 Credits Issued by Vintage Year,2011 Credits Issued by Vintage Year,2012 Credits Issued by Vintage Year,2013 Credits Issued by Vintage Year,2014 Credits Issued by Vintage Year,2015 Credits Issued by Vintage Year,2016 Credits Issued by Vintage Year,2017 Credits Issued by Vintage Year,2018 Credits Issued by Vintage Year,2019 Credits Issued by Vintage Year,2020 Credits Issued by Vintage Year,2021 Credits Issued by Vintage Year,2022 Credits Issued by Vintage Year,2023 Credits Issued by Vintage Year,2024 Credits Issued by Vintage Year,2025 Credits Issued by Vintage Year,2026 Credits Issued by Vintage Year,2027 Credits Issued by Vintage Year,2028 Credits Issued by Vintage Year,2029 Credits Issued by Vintage Year,2030 Credits Issued by Vintage Year,2031 Credits Issued by Vintage Year,2032 Credits Issued by Vintage Year,2033 Credits Issued by Vintage Year,2034 Credits Issued by Vintage Year,2035 Credits Issued by Vintage Year,2036 Credits Issued by Vintage Year,2037 Credits Issued by Vintage Year,2038 Credits Issued by Vintage Year,2039 Credits Issued by Vintage Year,2040 Credits Issued by Vintage Year,2041 Credits Issued by Vintage Year,2042 Credits Issued by Vintage Year,2043 Credits Issued by Vintage Year,2044 Credits Issued by Vintage Year,2045 Credits Issued by Vintage Year,2046 Credits Issued by Vintage Year,2047 Credits Issued by Vintage Year,2048 Credits Issued by Vintage Year,2049 Credits Issued by Vintage Year,2050 Credits Issued by Vintage Year,2051 Credits Issued by Vintage Year,2052 Credits Issued by Vintage Year,2053 Credits Issued by Vintage Year,2054 Credits Issued by Vintage Year,2055 Credits Issued by Vintage Year,2056 Credits Issued by Vintage Year,2057 Credits Issued by Vintage Year,2058 Credits Issued by Vintage Year,2059 Credits Issued by Vintage Year,2060 Credits Issued by Vintage Year,2061 Credits Issued by Vintage Year
0,ACR102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1898382.0,3004613.0,3081011.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ACR103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8072.0,5848.0,4409.0,3632.0,7998.0,13210.0,1033.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ACR105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2572210.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ACR106,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95330.0,43162.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ACR107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,316.0,352.0,342.0,128.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
pivot_iss_rc= cred_piv_iss.pivot(index='project_id', columns='issuance_date', values='retirement_cancellation').reset_index()
pivot_iss_rc = pivot_iss_rc.drop(columns=["0"])
pivot_iss_rc.columns = [pivot_iss_rc.columns[0]] + [f"Credits Retired or Cancelled in {col}" for col in pivot_iss_rc.columns[1:]]
pivot_iss_rc.columns.values[0] = "Project ID"
pivot_iss_rc.fillna(0, inplace=True)

In [23]:
merged_df = proj1.merge(cred_group_iss, on='Project ID', how='outer') \
                  .merge(cred_group_vin, on='Project ID', how='outer') \
                  .merge(pivot_iss_iss, on='Project ID', how='outer') \
                  .merge(pivot_vin_iss, on='Project ID', how='outer') \
                  .merge(pivot_iss_rc, on='Project ID', how='outer') \
                  .merge(proj2, on='Project ID', how='outer')

In [24]:
merged_df['Registry/ARB/WA'] = merged_df['Voluntary Registry']
merged_df.loc[merged_df['ARB/WA Project'].isin(['ARB Compliance', 'ARB Early Action']), 'Registry/ARB/WA'] = 'ARB'
merged_df.loc[merged_df['ARB/WA Project'].isin(['WA Compliance', 'WA Early Action']), 'Registry/ARB/WA'] = 'WA'

In [25]:
merged_df[['Total Buffer Contributions by Issuance Year','Total Buffer Subtractions by Issuance Year','Total Credits Issued','Total Credits Retired']] = merged_df[['Total Buffer Contributions by Issuance Year','Total Buffer Subtractions by Issuance Year','Total Credits Issued','Total Credits Retired']].fillna(0).astype(int)
merged_df['Total Credits Retired'] = merged_df['Total Credits Retired'].abs()
merged_df[merged_df.columns[112:134]] = merged_df[merged_df.columns[112:134]].abs()
merged_df['Total Credits Remaining'] = merged_df['Total Credits Issued']-merged_df['Total Credits Retired']

In [26]:
merged_df[merged_df.filter(like='Credits Issued by Vintage Year').columns] = merged_df[merged_df.filter(like='Credits Issued by Vintage Year').columns].fillna(0)
merged_df[merged_df.filter(like='Credits Issued by Issuance Year').columns] = merged_df[merged_df.filter(like='Credits Issued by Issuance Year').columns].fillna(0)
merged_df[merged_df.filter(like='Credits Retired or Cancelled in').columns] = merged_df[merged_df.filter(like='Credits Retired or Cancelled in').columns].fillna(0)

In [27]:
merged_df = merged_df.drop(columns=['Type Rule','Type ML','Confidence Level','ARB ID', 'ARB Project Type','ARB Project Status', 'WA ID', 'WA Project Type', 'POA ID','Project Description'])

In [28]:
columns_to_duplicate = merged_df.columns[110:132]
new_column_names = [col[-4:] + ' Credits Remaining by Vintage' for col in columns_to_duplicate]
# Duplicate the columns with new names
new_columns_df = merged_df[columns_to_duplicate].copy()
new_columns_df.columns = new_column_names
# Concatenate the new columns to the original DataFrame
merged_df = pd.concat([merged_df, new_columns_df], axis=1)

In [29]:
# Define the function
def process_columns(df, start_col):
    # Create or reset 'temp2' column
    df['temp'] = df['Total Credits Issued']
    df['temp2'] = 0  # Initialize temp2 to 0
    
    # Iterate over columns starting from the specified index
    for col in df.columns[start_col:]:
        df['temp2'] = df[col]  # Copy current column to temp2
        df[col] = df[col].where(df[col] != 0, df['temp'] - df['temp2'])  # Subtract temp if not 0
        df['temp'] = df['temp'] - df['temp2']
    return df

# Call the function
merged_df = process_columns(merged_df, 146)

In [35]:
columns_to_duplicate

Index(['2061 Credits Issued by Vintage Year',
       'Credits Retired or Cancelled in 2002',
       'Credits Retired or Cancelled in 2004',
       'Credits Retired or Cancelled in 2005',
       'Credits Retired or Cancelled in 2006',
       'Credits Retired or Cancelled in 2007',
       'Credits Retired or Cancelled in 2008',
       'Credits Retired or Cancelled in 2009',
       'Credits Retired or Cancelled in 2010',
       'Credits Retired or Cancelled in 2011',
       'Credits Retired or Cancelled in 2012',
       'Credits Retired or Cancelled in 2013',
       'Credits Retired or Cancelled in 2014',
       'Credits Retired or Cancelled in 2015',
       'Credits Retired or Cancelled in 2016',
       'Credits Retired or Cancelled in 2017',
       'Credits Retired or Cancelled in 2018',
       'Credits Retired or Cancelled in 2019',
       'Credits Retired or Cancelled in 2020',
       'Credits Retired or Cancelled in 2021',
       'Credits Retired or Cancelled in 2022',
       'Credits Retired or Cancelled in 2023'],
      dtype='object')

In [32]:
column_order = ['Project ID', 'Project Name', 'Voluntary Registry', 'ARB/WA Project',
       'Voluntary Status', 'Scope', 'Type', 'Reduction/Removal', 'Methodology/Protocol', 
       'Region', 'Country', 'State', 'Project Site Location','Project Developer', 
       'Total Credits Issued', 'Total Credits Retired', 'Total Credits Remaining',
       #'Total Buffer Pool Retirements', 'Reversals Covered by Buffer Pool', #fix
       #'Reversals Not Covered by Buffer Pool', #fix
       'First Year of Project',
       '2002 Credits Issued by Vintage Year', '2004 Credits Issued by Vintage Year','2005 Credits Issued by Vintage Year', 
       '2006 Credits Issued by Vintage Year','2007 Credits Issued by Vintage Year', '2008 Credits Issued by Vintage Year',
       '2009 Credits Issued by Vintage Year', '2010 Credits Issued by Vintage Year','2011 Credits Issued by Vintage Year', 
       '2012 Credits Issued by Vintage Year','2013 Credits Issued by Vintage Year','2014 Credits Issued by Vintage Year', 
       '2015 Credits Issued by Vintage Year','2016 Credits Issued by Vintage Year', '2017 Credits Issued by Vintage Year',
       '2018 Credits Issued by Vintage Year', '2019 Credits Issued by Vintage Year', '2020 Credits Issued by Vintage Year', 
       '2021 Credits Issued by Vintage Year', '2022 Credits Issued by Vintage Year', '2023 Credits Issued by Vintage Year',
       '2024 Credits Issued by Vintage Year','1996 Credits Issued by Vintage Year','1997 Credits Issued by Vintage Year',
       '1998 Credits Issued by Vintage Year','1999 Credits Issued by Vintage Year','2000 Credits Issued by Vintage Year',
       '2001 Credits Issued by Vintage Year','2002 Credits Issued by Vintage Year','2003 Credits Issued by Vintage Year',
       '2004 Credits Issued by Vintage Year','2005 Credits Issued by Vintage Year','2006 Credits Issued by Vintage Year',
       '2007 Credits Issued by Vintage Year','2008 Credits Issued by Vintage Year','2009 Credits Issued by Vintage Year',
       '2010 Credits Issued by Vintage Year','2011 Credits Issued by Vintage Year','2012 Credits Issued by Vintage Year',
       '2013 Credits Issued by Vintage Year','2014 Credits Issued by Vintage Year','2015 Credits Issued by Vintage Year',
       '2016 Credits Issued by Vintage Year','2017 Credits Issued by Vintage Year','2018 Credits Issued by Vintage Year',
       '2019 Credits Issued by Vintage Year','2020 Credits Issued by Vintage Year','2021 Credits Issued by Vintage Year',
       '2022 Credits Issued by Vintage Year','2023 Credits Issued by Vintage Year','2024 Credits Issued by Vintage Year',
       '2025 Credits Issued by Vintage Year','2026 Credits Issued by Vintage Year','2027 Credits Issued by Vintage Year',
       '2028 Credits Issued by Vintage Year','2029 Credits Issued by Vintage Year','2030 Credits Issued by Vintage Year',
       '2031 Credits Issued by Vintage Year','2032 Credits Issued by Vintage Year','2033 Credits Issued by Vintage Year',
       '2034 Credits Issued by Vintage Year','2035 Credits Issued by Vintage Year','2036 Credits Issued by Vintage Year',
       '2037 Credits Issued by Vintage Year','2038 Credits Issued by Vintage Year','2039 Credits Issued by Vintage Year',
       '2040 Credits Issued by Vintage Year','2041 Credits Issued by Vintage Year','2042 Credits Issued by Vintage Year',
       '2043 Credits Issued by Vintage Year','2044 Credits Issued by Vintage Year','2045 Credits Issued by Vintage Year',
       '2046 Credits Issued by Vintage Year','2047 Credits Issued by Vintage Year','2048 Credits Issued by Vintage Year',
       '2049 Credits Issued by Vintage Year','2050 Credits Issued by Vintage Year','2051 Credits Issued by Vintage Year',
       '2052 Credits Issued by Vintage Year','2053 Credits Issued by Vintage Year','2054 Credits Issued by Vintage Year',
       '2055 Credits Issued by Vintage Year','2056 Credits Issued by Vintage Year','2057 Credits Issued by Vintage Year',
       '2058 Credits Issued by Vintage Year','2059 Credits Issued by Vintage Year','2060 Credits Issued by Vintage Year',
       '2061 Credits Issued by Vintage Year','Credits Retired or Cancelled in 2002','Credits Retired or Cancelled in 2004',
       'Credits Retired or Cancelled in 2005','Credits Retired or Cancelled in 2006','Credits Retired or Cancelled in 2007',
       'Credits Retired or Cancelled in 2008','Credits Retired or Cancelled in 2009','Credits Retired or Cancelled in 2010',
       'Credits Retired or Cancelled in 2011','Credits Retired or Cancelled in 2012','Credits Retired or Cancelled in 2013',
       'Credits Retired or Cancelled in 2014','Credits Retired or Cancelled in 2015','Credits Retired or Cancelled in 2016',
       'Credits Retired or Cancelled in 2017','Credits Retired or Cancelled in 2018','Credits Retired or Cancelled in 2019',
       'Credits Retired or Cancelled in 2020','Credits Retired or Cancelled in 2021','Credits Retired or Cancelled in 2022',
       'Credits Retired or Cancelled in 2023','Credits Retired or Cancelled in 2024',
       '2002 Credits Remaining by Vintage','2004 Credits Remaining by Vintage','2005 Credits Remaining by Vintage',
       '2006 Credits Remaining by Vintage','2007 Credits Remaining by Vintage','2008 Credits Remaining by Vintage',
       '2009 Credits Remaining by Vintage','2010 Credits Remaining by Vintage','2011 Credits Remaining by Vintage',
       '2012 Credits Remaining by Vintage','2013 Credits Remaining by Vintage','2014 Credits Remaining by Vintage',
       '2015 Credits Remaining by Vintage','2016 Credits Remaining by Vintage','2017 Credits Remaining by Vintage',
       '2018 Credits Remaining by Vintage','2019 Credits Remaining by Vintage','2020 Credits Remaining by Vintage',
       '2021 Credits Remaining by Vintage','2022 Credits Remaining by Vintage','2023 Credits Remaining by Vintage',
       '2024 Credits Remaining by Vintage',
       'Project Owner', 'Offset Project Operator','Authorized Project Designee', 'Verifier',
       'Estimated Annual Emission Reductions', 
       'PERs',
       'Registry/ARB/WA','Project Listed', 'Project Registered', 'Sustainability Certification',
       'Project Type From the Registry', 'Registry Documents','Project Website', 'Notes From Registry',
       '2002 Credits Issued by Issuance Year','2004 Credits Issued by Issuance Year','2005 Credits Issued by Issuance Year',
       '2006 Credits Issued by Issuance Year','2007 Credits Issued by Issuance Year','2008 Credits Issued by Issuance Year',
       '2009 Credits Issued by Issuance Year','2010 Credits Issued by Issuance Year','2011 Credits Issued by Issuance Year',
       '2012 Credits Issued by Issuance Year','2013 Credits Issued by Issuance Year','2014 Credits Issued by Issuance Year',
       '2015 Credits Issued by Issuance Year','2016 Credits Issued by Issuance Year','2017 Credits Issued by Issuance Year',
       '2018 Credits Issued by Issuance Year','2019 Credits Issued by Issuance Year','2020 Credits Issued by Issuance Year',
       '2021 Credits Issued by Issuance Year',
       'Notes from the Berkeley Carbon Trading Project', 'Added to Database Version - With Data Through']

In [33]:
merged_df = merged_df[column_order]

KeyError: "['2024 Credits Remaining by Vintage'] not in index"

In [ ]:
merged_df.head()

In [ ]:
merged_df.to_csv("Project_Tab.csv", index=False)
merged_df.to_csv("../../streamlit_test/data/Project_Tab.csv", index=False)

In [ ]:
cred_piv_iss.columns = ['Project ID', 'Issuance Year', 'Buffer Contributions by Issuance Year','Buffer Subtractions by Issuance Year','Credits Issued by Issuance Year','Issuance Per','Credits Retired by Issuance Year']
cred_piv_vin.columns = ['Project ID', 'Vintage Year', 'Buffer Contributions by Vintage Year','Buffer Subtractions by Vintage Year','Credits Issued by Vintage Year','Issuance Per','Credits Retired by Vintage Year']

In [ ]:
merged_df2 =  proj1.merge(cred_piv_iss, on='Project ID', how ='outer') \
                .merge(cred_group_iss, on='Project ID', how ='outer')

merged_df2['Registry/ARB/WA'] = merged_df2['Voluntary Registry']
merged_df2.loc[merged_df2['ARB/WA Project'].isin(['ARB Compliance', 'ARB Early Action']), 'Registry/ARB/WA'] = 'ARB'
merged_df2.loc[merged_df2['ARB/WA Project'].isin(['WA Compliance', 'WA Early Action']), 'Registry/ARB/WA'] = 'WA'

merged_df2[['Total Buffer Contributions by Issuance Year','Total Buffer Subtractions by Issuance Year','Total Credits Issued by Issuance Year','Issuance Per','Total Credits Retired by Issuance Year']] = merged_df2[['Total Buffer Contributions by Issuance Year','Total Buffer Subtractions by Issuance Year','Total Credits Issued by Issuance Year','Issuance Per','Total Credits Retired by Issuance Year']].fillna(0).astype(int)
merged_df2['Total Credits Retired by Issuance Year'] = merged_df2['Total Credits Retired by Issuance Year'].abs()

In [ ]:
merged_df2['Issuance Year'].unique()
merged_df2 = merged_df2[(merged_df2['Issuance Year'].notna()) & (merged_df2['Issuance Year'] != 0)]

In [ ]:
merged_df2.head()

In [ ]:
merged_df2.to_csv("../../streamlit_test/data/Project_Tab_Pivoted.csv", index=False)